:root {
    --primary_color: #FFE700;
}

h2 {
    font-family: Montserrat;
    font-weight: 700;
}

h3 {
    font-family: Montserrat;
    font-weight: 400;
}

h4 {
    font-family: Montserrat;
    font-weight: 400;
}

p {
    font-family: Montserrat;
    font-weight: 300;
}

span {
    font-family: Montserrat;
    font-weight: 300;
}

input {
    border-radius: 5px!important;
    border-bottom: 2px solid #FFE700!important;
    color: #000!important;
    font-size: 16px!important;
    padding: 2% 3%!important;
}

.text-info {
    font-family: Montserrat!important;
    font-weight: 400;
    color: #000!important;
}
.boxTudo {
    margin: 53px 0 0 0;
    padding: 0% 0% 35px 0%;
    border-radius: 14px;
    border: solid 1px #2d2d2d;
    box-shadow: 2px 7px 0px 0px #2d2d2d;
}.boxTudo h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 12px 0% 0px 0%;
    color: #2d2d2d;
    margin: 20px auto 10px auto;
}
.boxTudo p {
    font-size: 16px;
    font-weight: 500;
    color: #2d2d2d;
    margin: 0% 0% 1% 0%;
}
@media (max-width: 600px) {
    .container-login {
        padding: 1em!important;
    }
    input {
        width: 100%;
    }
}